body {
	box-sizing:border-box;	
}

h1 {
	color:blue;
}

*.icon-white{color:white;}
*.icon-silver{color:silver;}
*.icon-green{color:green;}
*.icon-blue{color:blue;}
*.icon-gray{color:gray;}
*.icon-red{color:red;}